{% extends "remapp/base.html" %}


{% block navhelp %}
        <li>
            <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/i_navigate.html" target="_blank" data-toggle="tooltip" title="Web interface documentation - opens in a new tab">
                Web interface documentation
            </a>
        </li>
{% endblock %}


{% block toprow %}
  <h1><img src="{{ STATIC_URL }}img/openrem0055.png" height="55" width="55" class="openrem-logo">OpenREM database browser and export</h1>

  {% if not users_in_groups.any %}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">There are no users in any of the groups</h3>
      </div>
      <div class="panel-body">
        <p>
          You will need to allocate users to a group before using this system -
          <a href="/admin/auth/user/">you can do this here.</a> You will need to know the superuser
          username and password you used when you installed the database.
        </p>
        <p>
          Make sure there is at least one Admin user. You can return to the user config
          page later by using the 'Manage users' link on the admin menu.
        </p>
      </div>
    </div>
  {% elif not users_in_groups.admin %}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">There are no users in the admin group</h3>
      </div>
      <div class="panel-body">
        <p>
          Make sure there is at least one Admin user &mdash; <a href="/admin/auth/user/">you can do this here.</a> You
          will need to know the superuser
          username and password you used when you installed the database.
        </p>
        <p>
          You can return to the user config
          page later by using the 'Manage users' link on the admin menu.
        </p>
      </div>
    </div>
  {% endif %}

  <p>
    There are {{ homedata.total }} studies in this database. Page last refreshed on {% now "jS F Y \a\t H:i" %}.
    {% if user.is_authenticated %}
      {% if request.user.userprofile.plotCharts %}
        Chart plotting on.
      {% else %}
        Chart plotting off.
      {% endif %}
    {% endif %}
  </p>

  {% if admin.admingroup %}
    {% if admin_questions_true %}
      <table class="table table-bordered">
        {% if admin_questions.not_patient_indicator_question %}
          <tr>
            <td>
              <strong>Admin question:</strong> Identifying non-patient exposures has changed in release 0.8. Would you
              like this install to match the behaviour of release 0.7.4 and earlier?
              <a href="/admin/adminquestions/hide_not_patient/" role="button" class="btn btn-default pull-right">
                Hide
              </a>
              <a href="/admin/notpatientindicators/restore074/" role="button" class="btn btn-default pull-right">
                Restore 0.7.4 patterns
              </a>
              <a href="/openrem/admin/notpatientindicators/" role="button" class="btn btn-default pull-right">
                More information
              </a>
            </td>
          </tr>
        {% endif %}
      </table>
    {% endif %}
  {% endif %}
{% endblock %}


      {% block mainblock %}
{% load humanize %}

<table class="table table-bordered">
    <tr>
        {% if homedata.CT %}<th><a href="/openrem/ct/">CT</a></th>{% endif %}{% if homedata.RF %}<th><a href="/openrem/rf/">Fluoroscopy</a></th>{% endif %}{% if homedata.MG %}<th><a href="/openrem/mg/">Mammography</a></th>{% endif %}{% if homedata.DX %}<th><a href="/openrem/dx/">Radiography</a></th>{% endif %}
    </tr>
    <tr>
        {% if homedata.CT %}<td style="width:25%">{{ homedata.ct }}</td>{% endif %}{% if homedata.RF %}<td style="width:25%">{{ homedata.rf }}</td>{% endif %}{% if homedata.MG %}<td style="width:25%">{{ homedata.mg }}</td>{% endif %}{% if homedata.DX %}<td style="width:25%">{{ homedata.dx }}</td>{% endif %}
    </tr>
</table>

{% if homedata.CT %}
<h4>CT summary table</h4>
<table class="table table-bordered table-hover row-clickable">
    <tr>
        <th>Scanner</th><th>Number of studies</th><th>Latest study</th>
    </tr>
    {% for key,value in homedata.CT.items %}
        <tr>
            <td style="width:33%">
                <a href="/openrem/ct/?display_name={{ key }}&o=-study_date">
                    {{ value.displayname }}
                </a>
            </td>
            <td style="width:33%">
                <a href="/openrem/ct/?display_name={{ key }}&o=-study_date">
                {{ value.total }}
                </a>
            </td>
            <td style="width:33%">
                <a href="/openrem/ct/?display_name={{ key }}&o=-study_date">
                {{ value.latest|naturaltime }}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if homedata.RF %}
<h4>Fluoroscopy summary table</h4>
<table class="table table-bordered table-hover row-clickable">
    <tr>
        <th>Room</th><th>Number of studies</th><th>Latest study</th>
    </tr>
    {% for key,value in homedata.RF.items %}
        <tr>
            <td style="width:33%">
                <a href="/openrem/rf/?display_name={{ key }}&o=-study_date">
                    {{ value.displayname }}
                </a>
            </td style="width:33%">
            <td>
                <a href="/openrem/rf/?display_name={{ key }}&o=-study_date">
                    {{ value.total }}
                </a>
            </td>
            <td style="width:33%">
                <a href="/openrem/rf/?display_name={{ key }}&o=-study_date">
                    {{ value.latest|naturaltime }}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if homedata.MG %}
<h4>Mammography summary table</h4>
<table class="table table-bordered table-hover row-clickable">
    <tr>
        <th>Room</th><th>Number of studies</th><th>Latest study</th>
    </tr>
    {% for key,value in homedata.MG.items %}
        <tr>
            <td style="width:33%">
                <a href="/openrem/mg/?display_name={{ key }}&o=-study_date">
                    {{ value.displayname }}
                </a>
            </td>
            <td style="width:33%">
                <a href="/openrem/mg/?display_name={{ key }}&o=-study_date">
                    {{ value.total }}
                </a>
            </td>
            <td style="width:33%">
                <a href="/openrem/mg/?display_name={{ key }}&o=-study_date">
                    {{ value.latest|naturaltime }}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if homedata.DX %}
<h4>Radiography summary table</h4>
<table class="table table-bordered table-hover row-clickable">
    <tr>
        <th>Room</th><th>Number of studies</th><th>Latest study</th>
    </tr>
    {% for key,value in homedata.DX.items %}
        <tr>
            <td style="width:33%">
                <a href="/openrem/dx/?display_name={{ key }}&o=-study_date">
                    {{ value.displayname }}
                </a>
            </td>
            <td style="width:33%">
                <a href="/openrem/dx/?display_name={{ key }}&o=-study_date">
                    {{ value.total }}
                </a>
            </td>
            <td style="width:33%">
                <a href="/openrem/dx/?display_name={{ key }}&o=-study_date">
                    {{ value.latest|naturaltime }}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if not homedata.CT and not homedata.RF and not homedata.MG and not homedata.DX %}
<h4>No data to display in the system</h4>
<p>There are currently no studies from any modality stored in the database. Add some to see a summary of each on this page.</p>
{% endif %}

{% endblock %}	
